@layer base, components, utilities, view;
@import url(./base/reset.css) layer(base.reset);
@import url(./base/prose.css) layer(base.prose);
@import url(./base/theme.css) layer(base.theme);
@import url(./components/components.css) layer(components);
@import url(./fonts/icons.css) layer(components);
@import url(./utils/utilities.css) layer(utilities);
@import url(./components/cards.css) layer(view);

@layer view {
  ol:has(.h-entry) {
    display: flex;
    flex-direction: column;
    gap: var(--space-s-m);
    margin-inline: auto;
  }

  h2.p-summary {
    text-align: center;
  }

  nav[aria-label="Pagination"] {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: "first previous . next last";
    gap: var(--space-s);
    width: 100%;
    max-width: 50ch;
    margin-inline: auto;
  }

  nav[aria-label="Pagination"] a[rel="first"] {
    grid-area: first;
  }

  nav[aria-label="Pagination"] a[rel="previous"] {
    grid-area: previous;
  }

  nav[aria-label="Pagination"] a[rel="next"] {
    grid-area: next;
  }

  nav[aria-label="Pagination"] a[rel="last"] {
    grid-area: last;
  }

  form[action="/publish"] {
    padding: var(--space-s-m);
    border-radius: 0.5em;
    background-color: var(--surface-2);
    width: 100%;
    max-width: 50ch;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
  }
}
