a[rel~="category"] {
  --font-size: var(--font-size-s);
  font-weight: 700;
}

ul:has(a[rel~="category"]) {
  display: flex;
  gap: var(--space-xs);
  flex-wrap: wrap;
}

.h-entry .p-author {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.h-entry .p-author .u-logo {
  border-radius: 9999px;
  height: var(--space-xl);
  width: var(--space-xl);
  object-fit: cover;
}

.h-entry:not(:has(.p-content)) {
  background-color: var(--surface-2);
  max-width: 50ch;
  width: 100%;
  border-radius: 0.33em;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-s);
}

.h-entry:not(:has(.p-content)) .p-author + * {
  margin-inline-start: auto;
}

.h-entry:not(:has(.p-content)) .p-author .p-name {
  font-size: var(--font-size-m);
}

.h-entry:not(:has(.p-content)) .p-name {
  font-size: var(--font-size-xl);
}

.h-entry:not(:has(.p-content)) :where(header, footer) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xs);
}

.h-entry:has(.p-content) header {
  display: grid;
  gap: var(--space-s);
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "categories categories" "title title" "author published";
}

.h-entry:has(.p-content) header .p-name {
  grid-area: title;
}

.h-entry:has(.p-content) header .dt-published {
  grid-area: published;
}

.h-entry:has(.p-content) header .p-author {
  grid-area: author;
}

.h-entry:has(.p-content) header ul:has([rel~="category"]) {
  grid-area: categories;
}

.h-entry:has(.p-content) footer .u-url {
  margin-inline-end: -0.67em;
}

.h-entry:has(.p-content) .p-summary {
  margin-block: var(--space-m);
  font-size: var(--font-size-l);
  line-height: 1.5;
}

.u-photo {
  height: auto;
}
