body > header {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

body > header nav {
  display: flex;
  gap: var(--space-xs);
}

body > header nav a {
  color: inherit;
  text-decoration: none;
  font-size: var(--font-size-m);
}

body > header theme-toggle {
  margin-inline-start: auto;
}

:where(
    [role="button"],
    [type="button"],
    [type="file"]::file-selector-button,
    [type="reset"],
    [type="submit"],
    button
  ) {
  --color: var(--text-alt);
  --background: var(--surface-primary);
  --border-color: var(--background);
  --font-size: var(--font-size-m);

  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--background);
  border: 2px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.125em 0.67em;
  text-decoration: none;
  cursor: pointer;
}

:where(
    [role="button"],
    [type="button"],
    [type="file"]::file-selector-button,
    [type="reset"],
    [type="submit"],
    button
  ).outline {
  --border-color: var(--text-accent);
}

:where(
    [role="button"],
    [type="button"],
    [type="file"]::file-selector-button,
    [type="reset"],
    [type="submit"],
    button
  ):where(.outline, .ghost, [class^="icon-"]:empty, [class*=" icon-"]:empty) {
  --background: transparent;
  --color: var(--text-accent);
}

:where(
    [role="button"],
    [type="button"],
    [type="file"]::file-selector-button,
    [type="reset"],
    [type="submit"],
    button
  ):where([class^="icon-"]:empty, [class*=" icon-"]:empty) {
  font-size: var(--font-size-l);
}

:where(
    [role="button"],
    [type="button"],
    [type="file"]::file-selector-button,
    [type="reset"],
    [type="submit"],
    button
  )[role="link"] {
  --color: var(--text-accent);
  --background: transparent;
  border: none;
  padding: 0;
}
