body > header {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  & a[href="/"] {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
  }

  & h1 {
    font-size: var(--font-size-l);
  }

  & theme-toggle {
    margin-inline-start: auto;
  }
}

:where(
    [role="button"],
    [type="button"],
    [type="file"]::file-selector-button,
    [type="reset"],
    [type="submit"],
    button
  ) {
  --color: var(--text-alt);
  --background: var(--surface-primary);
  --border-color: var(--background);
  --font-size: var(--font-size-m);

  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--background);
  border: 2px solid var(--border-color);
  border-radius: 0.5em;
  padding: 0.125em 0.67em;
  text-decoration: none;
  cursor: pointer;

  &.outline {
    --border-color: var(--text-accent);
  }

  &:where(.outline, .ghost, [class^="icon-"]:empty, [class*=" icon-"]:empty) {
    --background: transparent;
    --color: var(--text-accent);
  }

  &:where([class^="icon-"]:empty, [class*=" icon-"]:empty) {
    font-size: var(--font-size-l);
  }

  &[role="link"] {
    --color: var(--text-accent);
    --background: transparent;
    border: none;
    padding: 0;
  }
}
