:root {
  --neutral-50: #f8f9fa;
  --neutral-100: #f1f3f5;
  --neutral-200: #e9ecef;
  --neutral-300: #dee2e6;
  --neutral-400: #ced4da;
  --neutral-500: #adb5bd;
  --neutral-600: #868e96;
  --neutral-700: #495057;
  --neutral-800: #343a40;
  --neutral-900: #212529;
  --neutral-1000: #16191d;
  --neutral-1100: #0d0f12;
  --neutral-1200: #030507;

  --primary-50: #e3fafc;
  --primary-100: #c5f6fa;
  --primary-200: #99e9f2;
  --primary-300: #66d9e8;
  --primary-400: #3bc9db;
  --primary-500: #22b8cf;
  --primary-600: #15aabf;
  --primary-700: #1098ad;
  --primary-800: #0c8599;
  --primary-900: #0b7285;
  --primary-1000: #095c6b;
  --primary-1100: #074652;
  --primary-1200: #053038;

  --surface-1: var(--neutral-200);
  --surface-2: var(--neutral-50);
  --surface-3: var(--neutral-300);
  --surface-primary: var(--primary-900);
  --text-primary: var(--neutral-1000);
  --text-secondary: var(--neutral-600);
  --text-accent: var(--primary-900);
  --text-alt: var(--neutral-50);

  --color-bg: var(--neutral-50);
  --color-fg: var(--neutral-1100);

  --color-link: var(--primary-900);

  --font-serif: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
  font-weight: normal;
  --font-sans: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --font-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --font-size-s: clamp(0.8333rem, 0.8101rem + 0.1159vi, 0.9rem);
  --font-size-m: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --font-size-l: clamp(1.2rem, 1.1283rem + 0.3587vi, 1.4063rem);
  --font-size-xl: clamp(1.44rem, 1.3295rem + 0.5527vi, 1.7578rem);
  --font-size-2xl: clamp(1.728rem, 1.5648rem + 0.8161vi, 2.1973rem);
  --font-size-3xl: clamp(2.0736rem, 1.8395rem + 1.1704vi, 2.7466rem);
  --font-size-4xl: clamp(2.4883rem, 2.1597rem + 1.6433vi, 3.4332rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vi, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vi, 0.875rem);
  --space-s: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vi, 1.6875rem);
  --space-l: clamp(2rem, 1.913rem + 0.4348vi, 2.25rem);
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vi, 3.375rem);
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vi, 4.5rem);
  --space-3xl: clamp(6rem, 5.7391rem + 1.3043vi, 6.75rem);
  --space-xs-m: clamp(0.75rem, 0.4239rem + 1.6304vi, 1.6875rem);
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vi, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vi, 2.25rem);
}

[data-theme="dark"] {
  --surface-1: var(--neutral-900);
  --surface-2: var(--neutral-800);
  --surface-3: var(--neutral-700);
  --surface-primary: var(--primary-300);
  --text-primary: var(--neutral-50);
  --text-secondary: var(--neutral-300);
  --text-accent: var(--primary-300);
  --text-alt: var(--neutral-800);
}

html {
  font-family: var(--font-sans);
  font-size: var(--font-size-m);
  max-width: 80ch;
  margin: auto;

  background-color: var(--surface-1);
  color: var(--text-primary);
  accent-color: var(--surface-primary);
}

body {
  padding: var(--space-xs-m);
}

main {
  margin-block: var(--space-m-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-m-l);
}

html:has(main > article:only-child) {
  height: 100%;
}

html:has(main > article:only-child) body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html:has(main > article:only-child) main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  text-wrap: pretty;
  font-family: var(--font-sans);
}

h1 {
  font-size: var(--font-size-4xl);
}

h2 {
  font-size: var(--font-size-3xl);
}

h3 {
  font-size: var(--font-size-2xl);
}

h4 {
  font-size: var(--font-size-xl);
}

h5 {
  font-size: var(--font-size-l);
}

h6 {
  font-size: var(--font-size-l);
}

small {
  font-size: var(--font-size-s);
}

code,
pre,
locale-date {
  font-family: var(--font-mono);
}

:is(a, a:visited) {
  color: var(--color-link);
}

:is(a, a:visited):where(:hover, :focus-visible) {
  opacity: 0.7;
}
